@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E85D04;
  --secondary: #1B4332;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
